/* CONFIGURAÇÕES GLOBAIS */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
}

:root {
    /* COLORS */
    --background: #06080F;
    --texts-highlights: #00FFFF;
    --texts: #CECECE;
}