/* CONFIGURAÇÕES GLOBAIS */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;

    color: #FFF;
}

:root {
    /* COLORS */
    --background: #06080F;
    --texts-highlights: #00FFFF;
    --shadows: rgba(0, 255, 255, 0.05);
    --texts: #CECECE;
}

body {
    background: var(--background);
}

.destaque {
    color: var(--texts-highlights);
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.titulo h2 {
    position: absolute;

    font-size: 3rem;
}

.titulo .sombra {
    font-size: 4.5rem;
    font-weight: 700;
    color: var(--shadows);

    filter: blur(4px);

    user-select: none;
}

.icons {
    width: 80px;
    position: absolute;
}

.btn {
    font-size: 1rem;
    font-weight: 700;

    text-decoration: none;

    background: transparent;

    padding: 15px 40px;

    border: 1px solid var(--texts-highlights);
    border-radius: 15px;

    cursor: pointer;

    transition: all .5s ease-in-out;
}

.btn:hover {
    color: #000;
    background: var(--texts-highlights);
}

/* HEADER */

header, .avatar, .redes-sociais, main, .sobre-mim, .projetos .container, .habilidades .container,
.container .container-habilidades, .tecnicas, .comportamentais, .habilidade-tecnica, .habilidade-comportamental, 
.experiencia .container, .container-experiencia {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    flex-direction: column;

    padding: 20px 0px;
}

.avatar {
    position: relative;
}

#my-avatar {
    width: 250px;
}

#code {
    top: 6%;
    right: 75%;

    animation: flutuando-code .9s alternate infinite;
    animation-delay: .9s;
    animation-timing-function: linear;
}

#css {
    bottom: 30%;
    right: 100%;

    animation: flutuando-css .9s alternate infinite;
    animation-delay: .5s;
    animation-timing-function: linear;
}

#html {
    top: 15%;
    left: 80%;

    animation: flutuando-html .9s alternate infinite;
    animation-delay: .2s;
    animation-timing-function: linear;
}

#seo {
    bottom: 20%;
    left: 100%;

    animation: flutuando-seo .9s alternate infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
}

.apresentacao {
    position: relative;
    bottom: 70px;

    color: #fff;
    text-align: center;
}

.apresentacao h1 {
    font-size: 3rem;
    font-weight: 700;
}

.apresentacao h3 {
    color: var(--texts);
    font-size: 1rem;
    font-weight: 300;
}

.redes-sociais {
    gap: 50px;

    position: relative;
    bottom: 40px;
}

.redes-sociais div {
    width: 50px;
    height: 50px;

    cursor: pointer;
}

.redes-sociais .wpp {
    background: url(../assets/images/social-medias/wpp-icon.svg) no-repeat center / cover;

    transition: background .3s ease-in-out;
}

.redes-sociais .wpp:hover {
    background: url(../assets/images/social-medias/wpp-icon-colored.svg) no-repeat center / cover;
}

.redes-sociais .instagram {
    background: url(../assets/images/social-medias/instagram-icon.svg) no-repeat center / cover;

    transition: background .3s ease-in-out;
}

.redes-sociais .instagram:hover {
    background: url(../assets/images/social-medias/instagram-icon-colored.svg) no-repeat center / cover;
}

.redes-sociais .linkedin {
    background: url(../assets/images/social-medias/linkedin-icon.svg) no-repeat center / cover;

    transition: background .3s ease-in-out;
}

.redes-sociais .linkedin:hover {
    background: url(../assets/images/social-medias/linkedin-icon-colored.svg) no-repeat center / cover;
}

.redes-sociais .gmail {
    background: url(../assets/images/social-medias/gmail-icon.svg) no-repeat center / cover;

    transition: background .3s ease-in-out;
}

.redes-sociais .gmail:hover {
    background: url(../assets/images/social-medias/gmail-icon-colored.svg) no-repeat center / cover;
}

main, .sobre-mim {
    flex-direction: column;
}

/* MAIN - SOBRE MIM */

.sobre-mim .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 100px;
}

.sobre-mim .container .animacao {
    position: relative;
}

.sobre-mim .container .animacao .my-second-avatar {
    width: 300px;
}

#coffee {
    top: 7%;
    right: 88%;

    animation: flutuando-coffee .9s alternate infinite;
    animation-delay: .9s;
    animation-timing-function: linear;
}

#headset {
    bottom: 25%;
    left: 50%;

    animation: flutuando-headset .9s alternate infinite;
    animation-delay: .3s;
    animation-timing-function: linear;
}

.sobre-mim .container .historia p {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--texts);
}

/* MAIN - PROJETOS */

.projetos .container {
    flex-direction: column;

    padding: 50px 150px;
    gap: 100px;
}

.projetos .projeto {
    display: flex;
    gap: 70px;
}

.projetos .projeto:nth-child(even) {
    flex-direction: row-reverse;
}

.projeto .demo {
    position: relative;
}

.projeto img {
    width: 300px;
    border: 1px solid #FFF;
    border-radius: 10px;
}

.projeto .borda {
    width: 300px;
    height: 214px;

    position: absolute;
    top: 0px;
    margin: 48px 0px 0px -48px;

    border: 20px solid var(--texts-highlights);
    border-radius: 10px;

    z-index: -1;
}

.projeto .informacoes h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.projeto .informacoes p {
    color: var(--texts);

    padding-top: 20px;

    font-size: .8rem;
    font-weight: 300;

    text-align: justify;
}

/* MAIN - HABILIDADES */

.habilidades .container {
    flex-direction: column;

    padding: 80px 0px;

    gap: 80px;
}

.container .container-habilidades {
    max-width: 600px;

    flex-direction: column;

    gap: 20px;
}

.container-habilidades h2 {
    font-size: 1.5rem;
}

.tecnicas, .comportamentais {
    flex-flow: row wrap;

    gap: 50px;
}

.habilidade-tecnica, .habilidade-comportamental {
    flex-direction: column;
}

.habilidade-tecnica span, .habilidade-comportamental span {
    font-size: .6rem;
    font-weight: 300;

    padding-top: 5px;
}

/* MAIN - EXPERIÊNCIA */

.experiencia .container {
    flex-direction: column;

    padding-top: 80px;
}

.experiencia .container .opcoes {
    display: flex;

    gap: 20px;
}

.opcoes h2 {
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer;
}

.selecionado {
    border-bottom: 3px solid var(--texts-highlights);
}

.container-experiencia {
    max-width: 500px;

    flex-direction: column;
    gap: 40px;

    margin: 40px 0px;
}

#container-educacional {
    display: none;
}

.profissao, .formacao {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.container-experiencia .detalhes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.empresa-periodo, .curso {
    display: flex;
    align-items: baseline;
    gap: 50px;
}

.periodo, .carga-horaria{
    font-size: .6rem;
}

.cargo, .instituicao{
    font-size: 1rem;
    font-weight: 400;
}

.detalhes .descricao {
    font-weight: 300;
    color: var(--texts);
}

/* ANIMAÇÕES */
@keyframes flutuando-code {
    from {
        top: 6%;
    }

    to {
        top: 8%;
    }
}

@keyframes flutuando-html {
    from {
        top: 15%;
    }

    to {
        top: 13%;
    }
}

@keyframes flutuando-css {
    from {
        bottom: 30%;
    }

    to {
        bottom: 32%;
    }
}

@keyframes flutuando-seo {
    from {
        bottom: 20%;
    }

    to {
        bottom: 18%;
    }
}

@keyframes flutuando-coffee {
    from {
        top: 7%;
    }

    to {
        top: 9%;
    }
}

@keyframes flutuando-headset {
    from {
        bottom: 25%;
    }

    to {
        bottom: 22%;
    }
}