/* CONFIGURAÇÕES GLOBAIS */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

#cabecalho, #principal {
    padding: 40px;
}

/* CABECALHO */

#cabecalho {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #eee;
}

#cabecalho #barra_navegacao {
    display: flex;
    align-items: center;
}

#cabecalho #barra_navegacao #menu {
    list-style-type: none;

    display: flex;
    gap: 30px;
}

#cabecalho #barra_navegacao #menu .menu-item a {
    font-size: 18px;
    font-weight: 600;

    transition: color .5s;
}

#cabecalho #barra_navegacao #menu .menu-item a:hover {
    color: #aaaaaa;
}

/* CONTEUDO PRINCIPAL */

#sobre_mim, #projetos, #contato {
    padding-bottom: 50px;
}

#principal #sobre_mim .container {
    display: grid;
    grid-template-columns: 60% 40%;
}

#principal #sobre_mim img {
    width: 300px;
    height: 300px;

    border-radius: 50%;
    margin: auto;
}

#principal #sobre_mim p {
    padding: 25px;
}


/* PROJETOS*/

#projetos #container_projetos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;

    margin-top: 20px;
}

#projetos #container_projetos .projeto {
    width: 300px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    transition: box-shadow .5s;
}

#projetos #container_projetos .projeto:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
}

#container_projetos .projeto .imagem {
    display: flex;
    justify-content: center;
}

#container_projetos .projeto .imagem img {
    height: 150px;
}

#container_projetos .projeto .titulo {
    font-size: 24px;
}

#container_projetos .projeto .descricao {
    font-size: 14px;
    font-weight: 100;
}

/* CONTATO */

#contato #formulario {
    width: fit-content;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 30px;
    margin-top: 20px;
}

#contato #formulario label {
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-weight: 600;
}

#contato #formulario input {
    height: 30px;
    padding-left: 10px;
}

#contato #formulario #input_mensagem {
    padding: 10px;
}

#contato #formulario #botao_enviar {
    width: 100px;
    height: 40px;

    border: none;
    border-radius: 10px;

    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);

    margin: auto;

    font-weight: 600;
    cursor: pointer;

    transition: background .5s;
}

#contato #formulario #botao_enviar:hover {
    background: rgba(104, 104, 104, 0.699);
}